
.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header > button {
  height: 30px;
  margin-left: 10px;
}

